/* ===================
   Reset e boas práticas
=================== */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
  }

  /* ===================
          BANNER
  =================== */
  
  .banner-container {
    background-image: url('./imgs/adtbanner.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;           
    justify-content: flex-start;   
    padding-left: 5%;              
    color: white;
  }
  
  .banner-conteudo {
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 8px;
    color: white;
    max-width: 500px;
    text-align: left;              
  }
  